<div class="container-fluid mt-5" style="height: 100vh">
  <div class="row px-0 mx-0" style="height: 80%;">
    <div class="col-xl-2 col-lg-2">
      <div class="list-group border border-primary rounded h-100">
<!--        <a href="#" class="list-group-item list-group-item-action">Thông tin cửa hàng</a>-->
        <a class="list-group-item list-group-item-action active" routerLink="/showFinance">Tài chính</a>
        <a class="list-group-item list-group-item-action" routerLink="/pawnList">Danh sách đồ cầm</a>
        <a href="#" class="list-group-item list-group-item-action">10 hợp đồng mới nhất</a>
        <a href="#" class="list-group-item list-group-item-action">Thống kê lợi nhuận</a>
        <a href="#" class="list-group-item list-group-item-action">Lịch sử giao dịch</a>
      </div>
    </div>
    <div class="col-xl-10 col-lg-10 card border border-primary rounded">
      <h3 class="mt-2" style="margin-left: 36%;size: 35px;color: darkblue">THỐNG KÊ TÀI CHÍNH</h3>
      <div class="row mt-5">
        <div class="col-lg-4 col-xl-4"></div>
        <div class="col-lg-8 col-xl-8">
          <div class="row">
            <label class="col-lg-3 col-xl-3">Số Tiền Trong Két: </label>
            <label class="col-lg-9 col-xl-9 text-danger">{{financeInfo?.moneyOfSafe | currency: 'VND'}}</label>
          </div>
          <div class="row mt-2">
            <label class="col-lg-3 col-xl-3">Vốn Hiện Tại: </label>
            <label class="col-lg-9 col-xl-9 text-danger" >{{financeInfo?.currentCapital | currency: 'VND'}}</label>
          </div>
          <div class="row mt-2">
            <label class="col-lg-3 col-xl-3">Vốn Đầu Tư: </label>
            <label class="col-lg-9 col-xl-9 text-danger">{{financeInfo?.investmentMoney | currency: 'VND'}}</label>
          </div>
          <div class="row mt-2">
            <label class="col-lg-3 col-xl-3">Lãi Dự Kiến: </label>
            <label class="col-lg-9 col-xl-9 text-danger">{{financeInfo?.expectedProfit | currency: 'VND'}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

