<footer class="footer">
  <div class="container-fluid">
    <div class="row mt-3" style="background-color: lightcyan">
      <div class="col-5 font-weight-light">
        <h3 class="text-dark">Về chúng tôi: </h3>
        <p class="text-dark">
          Dịch vụ cầm đồ tại Hà Nội và Hồ Chí Minh:
          <strong>Cầm ô tô, cầm sổ đỏ, cầm xe máy, cầm sim đẹp</strong>... luôn phục vụ tận tình 24/7, làm việc tại nhà. Bất cứ khi nào bạn có nhu cầu cầm cố
          tài sản hay liên hệ ngay với chúng tôi.
        </p>
        <ul class="text-dark">
          <li>VP Hà Nội: số 231 Nguyễn Trãi, Thanh Xuân, Hà Nội</li>
          <li>VP HCM: 523 Đỗ Xuân Hợp, Quận 9, TP HCM</li>
          <li>Email: <span style="color: #ff9900;">Chovayhanoi.com@gmail.com</span></li>
          <li>Hotline: <span style="color: #ff9900;"> 0914 35 98 98</span></li>
        </ul>
      </div>
      <div class="col-3">
        <img src="../../../assets/img/chung-nhan.png" alt="chung-nhan" class="py-3">
        <img src="../../../assets/img/bocongthuong.png" alt="chung-nhan" class="py-3">
      </div>
      <div class="col-4">
        <h3 class="text-dark">Địa chỉ: </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.895376557358!2d105.8095461148828!3d20.996830586015633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac90c54f4067%3A0x503e1590c4d9f384!2zMjMxIE5ndXnhu4VuIFRyw6NpLCBUaMaw4bujbmcgxJDDrG5oLCBUaGFuaCBYdcOibiwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1635417188185!5m2!1svi!2s" width="90%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row bg-dark">
      <div class="col text-center">
        <img src="../../../assets/img/dmca_protected_sml_120am.png" alt="dmca">
        <div class="copyright-footer text-light">
          Dịch Vụ Cầm Đồ Hà Nội - Uy tín - Lãi Thấp - Giải Ngân Nhanh</div>
      </div>
    </div>
    </div>
</footer>
