<footer class="footer">
  <div class="container-fluid">
    <div class="row" style="background-color: #272882">
      <div class="col-5 mt-3 font-weight-light">
        <h3 class="text-light">Về chúng tôi: </h3>
        <p class="text-light">
          Dịch vụ cầm đồ tại Đà Nẵng:
          <strong>Cầm ô tô, cầm sổ đỏ, cầm xe máy, cầm sim đẹp</strong>... luôn phục vụ tận tình 24/7, làm việc tại nhà. Bất cứ khi nào bạn có nhu cầu cầm cố
          tài sản hay liên hệ ngay với chúng tôi.
        </p>
        <ul class="text-light">
          <li>VP Đà Nẵng: số 295 Nguyễn Tất Thành, Hải Châu, Đà Nẵng</li>
          <li>Email: <span style="color: #ff9900;">codegym.com</span></li>
          <li>Hotline: <span style="color: #ff9900;">0236 6517 021</span></li>
        </ul>
      </div>
      <div class="col-3 mt-3">
        <img src="../../../assets/img/chung-nhan.png" alt="chung-nhan" class="py-3">
        <img src="../../../assets/img/bocongthuong.png" alt="chung-nhan" class="py-3">
      </div>
      <div class="col-4 mt-3">
        <h3 class="text-light">Địa chỉ: </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15335.007560541108!2d108.2097363!3d16.0783598!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae6269b629a63e82!2zVHJ1bmcgdMOibSDEkcOgbyB04bqhbyBs4bqtcCB0csOsbmggdmnDqm4gQ29kZUd5bSDEkMOgIE7hurVuZw!5e0!3m2!1svi!2s!4v1638018554494!5m2!1svi!2s" width="75%" height="75%" style="border:0;"  allowfullscreen="" loading="lazy"></iframe>      </div>
    </div>
    <div class="row bg-dark">
      <div class="col-12 text-center">
        <img src="../../../assets/img/dmca_protected_sml_120am.png" alt="dmca">
        <div class="copyright-footer text-light">
          Dịch Vụ Cầm Đồ Đà Nẵng - Uy tín - Lãi Thấp - Giải Ngân Nhanh</div>
      </div>
    </div>
  </div>
</footer>
