<footer class="footer">
  <div class="container-fluid">
    <div class="row" style="background-color: #272882">
      <div class="col-5 mt-3 font-weight-light">
        <h3 class="text-light">Về chúng tôi: </h3>
        <p class="text-light">
          Dịch vụ cầm đồ tại Đà Nẵng:
          <strong>Cầm ô tô, cầm sổ đỏ, cầm xe máy, cầm sim đẹp</strong>... luôn phục vụ tận tình 24/7, làm việc tại nhà. Bất cứ khi nào bạn có nhu cầu cầm cố
          tài sản hay liên hệ ngay với chúng tôi.
        </p>
        <ul class="text-light">
          <li>VP Đà Nẵng: 14 Nguyễn Thiện Kế, Phước Mỹ, Sơn Trà, Đà Nẵng</li>
          <li>Email: <span style="color: #ff9900;">camdodanang@gmail.com</span></li>
          <li>Hotline: <span style="color: #ff9900;">0236 6789 021</span></li>
        </ul>
      </div>
      <div class="col-3 mt-3">
        <img src="../../../assets/img/chung-nhan.png" alt="chung-nhan" class="py-3">
        <img src="../../../assets/img/bocongthuong.png" alt="chung-nhan" class="py-3">
      </div>
      <div class="col-4 mt-3">
        <h3 class="text-light">Địa chỉ: </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15337.01060567376!2d108.22588994713706!3d16.052373887115657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c7b6659607%3A0x493fb1a6294dfe7c!2zQ-G6p20gxJDhu5MgxJDDoCBO4bq1bmc!5e0!3m2!1svi!2s!4v1639233241957!5m2!1svi!2s" width="75%" height="75%" style="border:0;"  allowfullscreen="" loading="lazy"></iframe>      </div>
    </div>
    <div class="row bg-dark">
      <div class="col-12 text-center">
        <img src="../../../assets/img/dmca_protected_sml_120am.png" alt="dmca">
        <div class="copyright-footer text-light">
          Dịch Vụ Cầm Đồ Đà Nẵng - Uy tín - Lãi Thấp - Giải Ngân Nhanh</div>
      </div>
    </div>
  </div>
</footer>
