/*.nav-left {*/
/*  text-align: center;*/
/*  background-color: white;*/
/*  height: auto;*/
/*}*/
/*.nav-left a:hover{*/
/*  background: #15c0ff;*/
/*  color: #fff;*/
/*}*/
/*i{*/
/*  margin-left: 10px;*/
/*  text-align: center;*/
/*}*/
/*.pagination {*/
/*  display: -webkit-box;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  padding-left: 0;*/
/*  list-style: none;*/
/*  border-radius: 0.25rem; }*/
h2{
  color: darkblue;
  size: 35px;
  margin: 0 auto;
}
.row{
  padding-left: 3px;
}
.col{
  margin-left: 40px;
  padding-left: 20px;
}
.col2{
  margin-left: 20px;
}


