<div class="container-fluid pb-5" >
  <h2 class="text-center mt-3 mb-5" style="color: darkblue; font-size: 35px">LỊCH SỬ GIAO DỊCH</h2>
  <div class="row mt-1 px-0 mx-0" style="height: 80%;">
    <div class="col-lg-2">
      <div class="list-group border border-primary rounded h-100">
        <a class="list-group-item list-group-item-action" routerLink="/show-finance" routerLinkActive="active">Tài chính</a>
        <a class="list-group-item list-group-item-action" routerLink="/pawn-list" routerLinkActive="active">Danh sách đồ cầm</a>
        <a class="list-group-item list-group-item-action" routerLink="/list-top-10-contract" routerLinkActive="active">10 hợp đồng mới nhất</a>
        <a class="list-group-item list-group-item-action" routerLink="/statistic-interest" routerLinkActive="active">Thống kê lợi nhuận</a>
        <a class="list-group-item list-group-item-action" routerLink="/list-contract" routerLinkActive="active">Lịch sử giao dịch</a>
      </div>
    </div>
    <div class="col-lg-10 col-sm-12">
      <div class="row">
        <form class="row g-3" [formGroup]="searchContract" (ngSubmit)="search()">
          <table>
            <tr>
              <td><label class="col-form-label">Tên khách hàng </label></td>
              <td><input type="text" class="col form-control border-dark" formControlName="customer"/>
                <div class="fontError mt-1 ms-5 text-danger"
                     *ngIf="searchContract.controls.customer.hasError('maxlength') &&
                 searchContract.controls.customer.touched">Tên khách hàng phải có kích thước bé hơn 10.
                </div>
              </td>
              <td><label class="col-form-label mx-5">Tên đồ</label></td>
              <td><input type="text" class="col2 form-control border-dark" formControlName="productName"/>
                <div class="fontError mt-1 ms-4 text-danger"
                     *ngIf="searchContract.controls.productName.hasError('maxlength') &&
                 searchContract.controls.productName.touched">Tên đồ phải có kích thước bé hơn 10.
                </div>
              </td>
            </tr>
            <tr formGroupName="dateGroup">

              <td><label class="col-form-label mt-3">Giao dịch từ ngày </label></td>
              <td><input type="date" class="col form-control border-dark" formControlName="startDateFrom"/>
                <div class="fontError mt-1 ms-5 text-danger"
                     *ngIf="searchContract.controls.dateGroup?.errors?.checkDate">Ngày bắt đầu phải bé hơn ngày đến.
                </div>
              </td>
              <td><label class="col-form-label mx-5 ">Đến </label></td>
              <td><input type="date" class="col2 form-control border-dark" formControlName="endDateTo" />
                <div class="fontError mt-1 ms-4 text-danger"
                     *ngIf="searchContract.controls.dateGroup?.errors?.checkDate">Ngày đến phải lớn hơn ngày hiện tại.
                </div>
              </td>
              <!--          </fieldset>-->
            </tr>
            <tr>
              <td><label class="col-form-label" id="status">Trạng thái </label></td>
              <td>
                <select class="col form-select border-dark"  formControlName="statusContract" [(ngModel)]="searchStatus">
                  <option selected value="">Chọn trạng thái</option>
                  <option *ngFor="let statusContract of listStatusContract"
                          [value]="statusContract.name">{{statusContract.name}}</option>
                </select>
              </td>
              <td><label class="col-form-label mx-5" id="type">Loại hợp đồng </label></td>
              <td>
                <select class="col2 form-select border-dark ml-1" formControlName="typeContract">
                  <option selected value="">Chọn hợp đồng</option>
                  <option *ngFor="let typeContract of listTypeContract"
                          [ngValue]="typeContract.name">{{typeContract.name}}</option>
                </select>
              </td>
              <td></td>
              <td>
                <button type="submit"  class="btn btn-success mx-5"><i class="fas fa-search-plus"></i></button>
              </td>
            </tr>
          </table>
        </form>
        <div class="row mt-3">
          <div class="col-12 col-lg-12">
            <table id="tableTransaction" class="table table-striped table-bordered"  style="width: 100%">
              <thead class="table-primary text-center">
              <tr>
                <th>Mã hợp đồng</th>
                <th>Tên đồ</th>
                <th>Tên khách hàng</th>
                <th>Ngày làm hợp đồng</th>
                <th>Loại hợp đồng</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let contracts of listContract">
                <th>{{contracts.contractId}}</th>
                <td>{{contracts.productName}}</td>
                <td>{{contracts.customer.name}}</td>
                <td *ngIf="contracts.statusContract.statusContractId == 3">{{contracts.liquidationDate | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="contracts.statusContract.statusContractId != 3">{{contracts.startDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{contracts.typeContract.name}}</td>
                <!--          <td >{{contracts.statusContract.name}}</td>-->
                <td *ngIf="contracts.statusContract.statusContractId == 3" [ngStyle]="{'color': 'green', 'font-size': '15px', 'font-weight': 'bold'}">Thanh Lý</td>
                <td *ngIf="contracts.statusContract.statusContractId == 1" [ngStyle]="{'color': 'orange', 'font-size': '15px', 'font-weight': 'bold'}">Đang Cầm</td>
                <td *ngIf="contracts.statusContract.statusContractId == 2" [ngStyle]="{'color': 'red', 'font-size': '15px', 'font-weight': 'bold'}">Quá Hạn</td>

                <td>
                  <button type="button" class="  border-0  btn btn-outline-warning " data-bs-toggle="modal"
                          data-bs-target="#exampleModal" (click)="getId(contracts.contractId)"><i class="fas fa-eye"></i></button>
                  <button class="border-0 btn btn-outline-info" (click)="openDialogEdit(contracts.contractId)"><i class="fas fa-pencil-alt"></i></button> &nbsp;
                  <button class="border-0 btn btn-outline-danger"  (click)="delete(contracts.contractId)"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--    <div class="d-flex justify-content-end container">-->
          <!--      <button class="mr-3 btn btn-danger" (click)="openDialogDeleteAll()">Xoá tất cả</button>-->
          <!--    </div>-->
        </div>
        <!--    </div>-->
        <!--Phân Trang-->
        <div class="col-md-12 mt-3">
          <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item " [ngClass]="pageNow === 0 ? 'disabled' : ''">
                  <button class="page-link" aria-label="Previous" (click)="getPageContract(0)">
                    <span aria-hidden="true">&laquo;</span>
                  </button>
                </li>
                <li class="page-item" [ngClass]="pageNow === 0 ? 'disabled' : ''">
                  <button class="page-link" aria-label="Previous" (click)="getPageContract(pageNow - 1)">
                    <span aria-hidden="true">&lsaquo;</span>
                  </button>
                </li>
                <li class="page-item"  *ngIf="pageNow-1>=0">
                  <button class="page-link" (click)="getPageContract(pageNow - 1)">{{pageNow}}</button>
                </li>
                <li class="page-item active"  >
                  <button class="page-link">{{pageNow+1}}</button>
                </li>
                <li class="page-item "  *ngIf="pageNow < totalPage.length-1">
                  <button class="page-link" (click)="getPageContract(pageNow + 1)">{{pageNow+2}}</button>
                </li>
                <li class="page-item" [ngClass]="pageNow == totalPage.length-1 ? 'disabled' : ''">
                  <button class="page-link" aria-label="Next" (click)="getPageContract(pageNow+1)">
                    <span aria-hidden="true">&rsaquo;</span>
                  </button>
                </li>
                <li class="page-item" [ngClass]="pageNow == totalPage.length-1 ? 'disabled' : ''">
                  <button class="page-link" aria-label="Next" (click)="getPageContract(totalPage.length-1)">
                    <span aria-hidden="true">&raquo;</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title " id="exampleModalLabel">CHI TIẾT GIAO DỊCH</h2>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                      <div class="row">
                        <label class="col-lg-6 col-sm-6 col-xl-6"><strong>Mã hợp đồng:</strong></label>
                        <label class="col-lg-6 col-sm-6 col-xl-6">{{getInforList?.contractId}}</label>
                      </div>
                      <div class="row mt-2">
                        <label class="col-lg-6 col-sm-6 col-xl-6"><strong>Tên đồ:</strong></label>
                        <label class="col-lg-6 col-sm-6 col-xl-66">{{getInforList?.productName}}</label>
                      </div>
                      <div class="row mt-2">
                        <label class="col-lg-6 col-sm-6 col-xl-6"><strong>Tên khách hàng:</strong></label>
                        <label class="col-lg-6 col-sm-6 col-xl-66">{{getInforList?.customer?.name}}</label>
                      </div>
                      <div class="row mt-2">
                        <label class="col-lg-6 col-sm-6 col-xl-6-6" *ngIf="getInforList?.statusContract?.statusContractId == 3">
                          <strong>Ngày thanh lý:</strong>
                        </label>
                        <label class="col-lg-6 col-sm-6 col-xl-6" *ngIf="getInforList?.statusContract?.statusContractId == 3">
                          {{getInforList?.liquidationDate| date: 'dd/MM/yyyy'}}
                        </label>
                        <label class="col-lg-6 col-sm-6 col-xl-6-6" *ngIf="getInforList?.statusContract?.statusContractId != 3">
                          <strong>Ngày làm hợp đồng:</strong>
                        </label>
                        <label class="col-lg-6 col-sm-6 col-xl-6" *ngIf="getInforList?.statusContract?.statusContractId != 3">
                          {{getInforList?.startDate| date: 'dd/MM/yyyy'}}
                        </label>
                      </div>
                      <div class="row mt-2">
                        <label class="col-lg-6 col-sm-6 col-xl-6"><strong>Loại hợp đồng:</strong></label>
                        <label class="col-lg-6 col-sm-6 col-xl-6">{{getInforList?.typeContract?.name}}</label>
                      </div>
                      <div class="row mt-2">
                        <label class="col-lg-6 col-sm-6 col-xl-6"><strong>Trạng thái:</strong></label>
                        <label class="col-lg-6 col-sm-6 col-xl-6">{{getInforList?.statusContract?.name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
