<app-header></app-header>
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col">
      <div class="container bg-white mt-5 mb-5 pb-4" style="border-radius: 2%">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <h2 class="text-center mt-3 mb-5" style="color: darkblue; font-size: 35px">THANH TOÁN HỢP ĐỒNG</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <form class="" [formGroup]="formContract" (ngSubmit)="doSubmit()">
              <div class="mb-3 d-flex justify-content-start">
                <button type="button" class="btn btn-primary" (click)="openListContract()">
                  Chọn Hợp Đồng
                </button>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 col-lg-6">
                  <label >Mã Hợp Đồng: </label>
                  <input type="text" class="form-control"  formControlName="idContract" readonly>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label >Tên Khách Hàng: </label>
                  <input type="text" class="form-control"  formControlName="customerName" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 col-lg-6">
                  <label >Đồ Cầm: </label>
                  <input type="text" class="form-control"  formControlName="productName" readonly>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label class="">Tiền Cho Vay: </label>
                  <input type="text" class="form-control"  formControlName="loanMoney" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 col-lg-6">
                  <label class="">Số Tiền Thanh Toán: </label>
                  <input type="text" class="form-control"  formControlName="interestMoney" readonly>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label class="">Ngày Làm HD: </label>
                  <input type="date" class="form-control"  formControlName="startDate" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 col-lg-6">
                  <label class="">Ngày Kết Thúc: </label>
                  <input type="date" class="form-control"  formControlName="endDate" readonly>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label class="">Ngày Trả Đồ:<span style="color: red;">*</span></label>
                  <input type="date" class="form-control" formControlName="returnPawn"
                         [class]="formContract.controls.returnPawn?.touched ? (formContract.controls.returnPawn?.invalid ? 'is-invalid' : '') : ''">
                  <p class="invalid-feedback" *ngIf="formContract.controls.returnPawn?.errors?.checkDate">
                    Ngày trả đồ phải lớn hoặc bằng ngày hiện tại
                  </p>
                  <p class="invalid-feedback" *ngIf="formContract.controls.returnPawn?.errors?.required">
                    Ngày trả đồ không được để trống
                  </p>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button type="reset" class="btn btn-danger w-100">Hủy</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success w-100" [disabled]="formContract.invalid" >Thanh Toán</button>
                </div>
                <div class="col-md-2"></div>
              </div>
            </form>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
