<div class="container-fluid md-4 d-flex justify-content-center">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-12">
      <h2 class="text-center mt-3" style="color: darkblue; font-size: 35px">DANH SÁCH KHÁCH HÀNG</h2>
    </div>
  </div>
</div>
<div class="container-fluid mb-4">
  <div>
    <form class="form-group">
      <div class="row justify-content-center">
        <div class="col-2">
          <label class="col-form-label" for="ngaySinhTu">Ngày sinh từ </label>
          <input type="date" class="form-control border-dark" id="ngaySinhTu"/>
        </div>
        <div class="col-2">
          <label class="col-form-label" for="ngaySinhDen">Ngày sinh đến</label>
          <input type="date" class="form-control border-dark" id="ngaySinhDen"/>
        </div>
        <div class="col-2">
          <label class="col-form-label" for="soLuongHD">Số lượng HD</label>
          <input type="number" class="form-control border-dark" id="soLuongHD"/>
        </div>
        <div class="col-2">
          <label class="col-form-label" for="diaChi">Địa chỉ</label>
          <select class="form-control border-dark" id="diaChi">
            <option selected>Chọn địa chỉ</option>
            <option>Đà Nẵng</option>
            <option>Quảng Nam</option>
            <option>Huế</option>
            <option>Quảng Trị</option>
            <option>Hà Nội</option>
          </select>
        </div>
        <div class="col-2">
          <label class="col-form-label" for="tuKhoa">Từ khóa</label><br>
          <input class="form-control border-dark" id="tuKhoa" type="text" placeholder="Tìm kiếm theo tên khách hàng" aria-label="Search">
        </div>
        <div class="col-1 align-items-end">
          <label class="col-form-label">&nbsp;</label><br>
          <button class="btn border btn-success h-50"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid w-auto">
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="col-12 d-inline-flex justify-content-between w-100 mb-2" style="padding: initial">
        <div>
          <button class="btn btn-primary h-100" > <i class="fas fa-plus-circle"></i> Thêm mới khách hàng</button>
        </div>
      </div>

      <div>
        <table id="tableCustomer" class="table table-striped table-bordered">
          <thead class="table-primary text-center">
            <tr>
              <th>Mã KH</th>
              <th>Tên khách hàng</th>
              <th>Ngày sinh</th>
              <th>Số điện thoại</th>
              <th>Email</th>
              <th>Giới tính</th>
              <th>Địa chỉ</th>
              <th>CMND/Hộ chiếu</th>
              <th>Số lượng HD</th>
              <th>Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{customer.customerId}}</td>
              <td>{{customer.name}}</td>
              <td><p class="d-flex justify-content-center">{{customer.dateOfBirth | date: 'dd/MM/yyyy'}}</p></td>
              <td><p class="d-flex justify-content-center">{{customer.phone}}</p></td>
              <td>{{customer.email}}</td>
              <td>
                <a *ngIf="!customer.gender">Nam</a>
                <a *ngIf="customer.gender">Nữ</a>
              </td>
              <td>{{customer.address}}</td>
              <td><p class="d-flex justify-content-center">{{customer.idCard}}</p></td>
              <td><p class="d-flex justify-content-center">{{customer.contract}}</p></td>
              <td class="text-center"><span class="d-inline-flex">
                                  <button class="btn btn-outline-info h-auto border-0"><i class="fas fa-pencil-alt"></i></button> &nbsp;
                                  <button class="btn btn-outline-danger border-0"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-trash-alt"></i></button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link" aria-label="Previous" (click)="getPage(0)">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Previous" *ngIf="(indexPage - 1) > 0" (click)="getPage(indexPage - 2)">
            <span aria-hidden="true">&lsaquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" *ngIf="(indexPage - 1) > 0" (click)="getPage(indexPage - 2)">{{indexPage - 1}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="getPage(indexPage - 1)">{{indexPage}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" *ngIf="(indexPage + 1) <= totalPage" (click)="getPage(indexPage)">{{indexPage + 1}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Next" *ngIf="(indexPage + 1) <= totalPage" (click)="getPage(indexPage)">
            <span aria-hidden="true">&rsaquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Next" (click)="getPage(totalPage - 1)">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng</h5>
      </div>
      <div class="modal-body">
        Bạn Có Muốn Xóa Khách Hàng <span style="color: red">Hoàng Ngọc Cường</span> Không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger">Xoá</button>
      </div>

    </div>
  </div>
</div>
