<div class="container-fluid mt-5" style="height: 100vh" >
  <div class="row px-0 mx-0" style="height: 80%;">
    <div class="col-lg-2 col-xl-2">
      <div class="list-group border border-primary rounded h-100">
<!--        <a href="#" class="list-group-item list-group-item-action">Thông tin cửa hàng</a>-->
        <a routerLink="/showFinance" class="list-group-item list-group-item-action">Tài chính</a>
        <a routerLink="/pawnList" class="list-group-item list-group-item-action active">Danh sách đồ cầm</a>
        <a href="#" class="list-group-item list-group-item-action">10 hợp đồng mới nhất</a>
        <a href="#" class="list-group-item list-group-item-action">Thống kê lợi nhuận</a>
        <a href="#" class="list-group-item list-group-item-action">Lịch sử giao dịch</a>
      </div>
    </div>
    <div class="col-lg-10 col-xl-10">
      <h3 class="mt-2 text-center" style="size: 35px;color: darkblue">DANH SÁCH ĐỒ CẦM TRONG KHO</h3>
      <form class="row mt-5" [formGroup]="searchPawn" (submit)="searchP()" (keydown.enter)="searchP2($event)">
        <div class="col-lg-3 col-xl-3"></div>
        <label class="col-lg-1 col-xl-1 col-form-label" for="sc">Tìm Đồ: </label>
        <div class="col-lg-3 col-xl-3">
          <input type="text" class="form-control border-dark" id="sc" formControlName="search"/>
        </div>
        <div class="col-lg-2 col-xl-2">
          <select class="form-control border-dark" formControlName="typeSearch">
            <option value="">Loại Đồ</option>
            <option *ngFor="let t of typeProductList" [value]="t.name">{{t.name}}</option>
          </select>
        </div>
        <div class="col-lg-1 col-xl-1">
          <button class="btn btn-success rounded-circle ml-1"><i class="fas fa-search-plus"></i></button>
        </div>
      </form>
      <div class="row mt-3">
        <table class="table table-striped table-bordered" id="table1" style="width: 100%">
          <thead class="table-primary text-center">
          <tr>
            <th>Tên Đồ</th>
            <th>Loại Đồ</th>
            <th>Trạng Thái</th>
            <th>Giá Mua</th>
            <th>Chức Năng</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let p of pawnList">
            <td>{{p.productName}}</td>
            <td>{{p.typeProduct.name}}</td>
            <td>{{p.statusContract.name}}</td>
            <td class="text-danger">{{p.loanMoney | currency: "VND"}}</td>
            <td>
              <button class="btn btn-outline-warning border-0" (click)="temp(p.contractId)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></button> &nbsp;
              <button class="btn btn-outline-danger border-0"><i class="fa fa-trash-alt"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination  justify-content-end">
          <li class="page-item">
            <a class="page-link" aria-label="Previous"  (click)="getPage(0)">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Đầu</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link"  aria-label="Previous" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">
              <span aria-hidden="true">&lsaquo;</span>
              <span class="sr-only">Trước</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">{{indexPagination - 1}}</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link"(click)="getPage((indexPagination-1))">{{indexPagination}}</a>
          </li>
          <li class="page-item"><a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">{{indexPagination + 1}}</a></li>
          <li class="page-item">
            <a class="page-link"  aria-label="Next" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Sau</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next"  (click)="getPage((totalPagination-1))">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Cuối</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title align-content-center" id="exampleModalLabel"
            style="padding-left: 24.5%;size: 35px;color: darkblue">CHI TIẾT ĐỒ CẦM</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-xl-1 col-md-1"></div>
            <div class="col-lg-11 col-xl-11 col-md-11">
              <div class="row">
                <label class="col-lg-6 col-md-6 col-xl-6">Tên khách hàng:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.customer?.name}}</label>
              </div>
              <div class="row mt-2">
                <label class="col-lg-6 col-md-6 col-xl-6">Đồ cầm:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.productName}}</label>
              </div>
              <div class="row mt-2">
                <label class="col-lg-6 col-md-6 col-xl-6">Loại đồ:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.typeProduct?.name}}</label>
              </div>
              <div class="row mt-2">
                <label class="col-lg-6 col-md-6 col-xl-6">Tiền cho vay:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.loanMoney}} <sup class="text-danger">đ</sup></label>
              </div>
              <div class="row mt-2">
                <label class="col-lg-6 col-md-6 col-xl-6">Tiền lãi:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.interestMoney}} <sup class="text-danger">đ</sup></label>
              </div>
              <div class="row mt-2">
                <label class="col-lg-6 col-md-6 col-xl-6">Ngày bắt đầu:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.startDate | date: "dd/MM/yyyy"}}</label>
              </div>
              <div class="row mt-2">
                <label class="col-lg-6 col-md-6 col-xl-6">Ngày kết thúc:</label>
                <label class="col-lg-6 col-md-6 col-xl-6">{{pawnInfo?.endDate | date: "dd/MM/yyyy"}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
