<app-header></app-header>
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="container bg-white mt-5 mb-5 pb-4" style="border-radius: 2%">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <h2 class="text-center mt-3 mb-5" style="color: darkblue; font-size: 35px">THÊM MỚI HỢP ĐỒNG</h2>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#listCustomer"
                        (click)="getListCustomer(0)">
                  Chọn khách hàng
                </button>
              </div>

              <div class="col-lg-4 col-sm-4">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#listEmployee"
                        style="position: relative; left: 50%; transform: translate(-50%)" (click)="getListEmployee(0)">
                  Chọn nhân viên
                </button>
              </div>

              <div class="col-lg-4 col-sm-4">
                <button class="btn btn-primary" (click)="addNewCustomer()">Thêm khách hàng</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <form class="row g-3" [formGroup]="formCreate" novalidate>
              <div class="row">
                <div class="mb-3 mt-3 col-sm-6 col-lg-6">
                  <label for="name" class="form-label required">Khách hàng:</label>
                  <div *ngIf="customerName==''" class="toast show bg-danger align-items-center text-white border-0"
                       role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                      <div class="toast-body">
                        Khách hàng không được để trống.
                      </div>
                    </div>
                  </div>
                  <div *ngIf="customerName!=''" class="toast show bg-info align-items-center text-white border-0"
                       role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                      <div class="toast-body">{{customerName}}</div>
                      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="removeCus()"></button>
                    </div>
                  </div>
                </div>
                <div class="mb-3 mt-3 col-sm-6 col-lg-6">
                  <label for="name" class="form-label required">Nhân viên:</label>
                  <div *ngIf="employeeName==''" class="toast show bg-danger align-items-center text-white border-0"
                       role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                      <div class="toast-body">Khách hàng không được để trống.</div>
                    </div>
                  </div>
                  <div *ngIf="employeeName!=''" class="toast show bg-info align-items-center text-white border-0"
                       role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                      <div class="toast-body">{{employeeName}}</div>
                      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="removeEmployee()"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 mt-3 col-sm-6 col-lg-6">
                  <label for="name" class="form-label required">Đồ cầm:</label>
                  <input type="text" formControlName="productName" class="form-control" id="name"
                         placeholder="Nhập tên đồ cầm" [class]="formCreate.controls.productName.touched ?
                         (formCreate.controls.productName.invalid ? 'is-invalid' : '') : ''">
                  <div class="invalid-feedback" *ngIf="formCreate.controls.productName.errors?.required">
                    Đồ cầm không được để trống.
                  </div>
                </div>
                <div class="mb-3 mt-3 col-sm-6 col-lg-6">
                  <label for="type" class="form-label required">Loại đồ:</label>
                  <select id="type" formControlName="productType" class="form-select" [class]="classProductType"
                          aria-label="Default select example" (select)="changeClass()">
                    <option value=0>Chọn loại đồ</option>
                    <option *ngFor="let typeProduct of listTypeProduct"
                            (click)="chooseTypeProduct(typeProduct.typeProductId)" value="{{typeProduct.typeProductId}}">
                      {{typeProduct.name}}
                    </option>
                  </select>
                  <div *ngIf="formCreate.controls.productType.touched">
                    <div class="valid" *ngIf="formCreate.controls.productType.errors?.notNull">
                      Loại đồ không được để trống.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <label for="currency" class="form-label m-0 required">Số tiền cho vay:</label>
                  <div class="input-group mb-3">
                    <input type="text" formControlName="loanMoney" class="form-control" id="currency"
                           placeholder="Nhập số tiền cho vay." aria-label="Amount" (keydown)="changeValueLoan()" (keyup)="changeValueLoan()"
                           [class]="formCreate.controls.loanMoney.touched ?
                           (formCreate.controls.loanMoney.invalid ? 'is-invalid' : '') : ''">
                    <span class="input-group-text">.VNĐ</span>
                    <div class="invalid-feedback" *ngIf="formCreate.controls.loanMoney.errors?.required">
                      Số tiền cho vay không được để trống.
                    </div>
                    <div class="invalid-feedback" *ngIf="formCreate.controls.loanMoney.errors?.min">
                      Số tiền cho vay không được dưới 500.000 VNĐ.
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <label for="interestRate" class="form-label m-0 required">Tiền lãi:</label>
                  <div class="input-group mb-3">
                    <input readonly type="text" class="form-control" id="interestRate" formControlName="interestMoney"
                           placeholder="Nhập tiền lãi." aria-label="Amount">
                    <span class="input-group-text">.VNĐ</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6">
                  <label for="startDate" class="form-label required">Ngày bắt đầu:</label>
                  <input readonly type="date" formControlName="startDate" class="form-control"  id="startDate">
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label for="endDate" class="form-label required">Ngày kết thúc:</label>
                  <input type="date" formControlName="endDate" class="form-control" id="endDate"
                         placeholder="Nhập loại đồ" [class]="formCreate.controls.endDate.touched ?
                         (formCreate.controls.endDate.invalid ? 'is-invalid' : '') : ''"/>
                  <div class="invalid-feedback" *ngIf="formCreate.controls.endDate.errors?.required">
                    Ngày kết thúc không được để trống.
                  </div>
                  <div class="invalid-feedback" *ngIf="formCreate.controls.endDate.errors?.checkDate">
                    Ngày kết thúc phải hơn ngày bắt đầu.
                  </div>
                </div>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-lg-12 col-sm-12">-->
<!--                  <label for="img" class="form-label required">Ảnh đồ cầm:</label>-->
<!--                  <input type="file" id="img" formControlName="imgProduct" class="form-control" (change)="selectFile($event)">-->
<!--                  <div *ngIf="formCreate.controls.imgProduct.invalid && formCreate.controls.imgProduct.touched">-->
<!--                    <div class="valid" *ngIf="formCreate.controls.imgProduct.errors?.required">-->
<!--                      Ảnh đồ cầm không được để trống.-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row">-->
<!--                <div class="col-lg-12 col-sm-6 mt-2">-->
<!--                  <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">-->
<!--                    Thêm ảnh-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row">-->
<!--                <div class="col-lg-12 col-sm-6 mt-2">-->
<!--                  <img [src]="img" style="height: 200px" alt="Không có ảnh để hiển thị.">-->
<!--                </div>-->
<!--              </div>-->
              <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button type="reset" class="btn btn-danger w-100">Hủy</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button type="button" [disabled]="formCreate.invalid" class="btn btn-success" (click)="create()">Thêm hợp đồng
                  </button>
                </div>
                <div class="col-md-2"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="listCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="col-lg-11 col-sm-11 modal-title text-center mt-3" style="size: 35px;color: darkblue">CHỌN KHÁCH
          HÀNG</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <form class="row g-3 mt-1 mb-3">
              <div class="col-md-6"></div>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." (keyup)="eventSearchCustomer($event)">
              </div>
              <div class="col-md-2">
                <button type="button" class="btn float-end" style="background-color: #94c4f4; border-color: #94c4f4" (click)="search()">Tìm kiếm</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped table-bordered ">
              <thead class="table-primary text-center">
              <tr>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>CMND/ Hộ chiếu</th>
                <th>Chọn</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="customerList.length == 0">
                <td class="text-center" colspan="4">Không có kết quả để hiển thị.</td>
              </tr>
              <tr *ngFor="let customer of customerList">
                <td>{{customer.customerId}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.idCard}}</td>
                <td>
                  <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"
                          (click)="chooseCustomer(customer.customerId,customer.name)">Chọn
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item " [class]="(pageCurrentCus-1)<0 ? 'disabled' : ''">
              <button class="page-link" (click)="firstPage()">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>
            <li class="page-item" [class]="(pageCurrentCus-1)<0 ? 'disabled' : ''">
              <button class="page-link" tabindex="-1" (click)="prevPageCus()">&lsaquo;</button>
            </li>
            <li class="page-item">
              <button class="page-link" *ngIf="(pageCurrentCus-1)>=0"  (click)="prevPageCus()">{{pageCurrentCus}}</button>
            </li>
            <li class="page-item active" aria-current="page">
              <button class="page-link">{{pageCurrentCus+1}}</button>
            </li>
            <li class="page-item">
              <button class="page-link" (click)="nextPageCus()" *ngIf="(pageCurrentCus+1)<totalPageCus">{{pageCurrentCus+2}}</button>
            </li>
            <li class="page-item" [class]="(pageCurrentCus+1)>=totalPageCus ? 'disabled' : ''">
              <button class="page-link"  (click)="nextPageCus()">&rsaquo;</button>
            </li>
            <li class="page-item" [class]="(pageCurrentCus+1)>=totalPageCus ? 'disabled' : ''">
              <button class="page-link" (click)="lastPage()">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="listEmployee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="col-lg-11 col-sm-11 modal-title text-center mt-3" style="size: 35px;color: darkblue">CHỌN NHÂN
          VIÊN</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <form class="row g-3 mt-1 mb-3">
              <div class="col-md-6"></div>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." (keyup)="eventSearchEmployee($event)">
              </div>
              <div class="col-md-2">
                <button type="button" class="btn float-end"
                        style="background-color: #94c4f4; border-color: #94c4f4" (click)="searchEmpl()">Tìm kiếm
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped table-bordered ">
              <thead class="table-primary text-center">
              <tr>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>CMND/ Hộ chiếu</th>
                <th>Chọn</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="employeeList.length == 0">
                <td class="text-center" colspan="4">Không có kết quả để hiển thị.</td>
              </tr>
              <tr *ngFor="let employee of employeeList">
                <td>{{employee.employeeId}}</td>
                <td>{{employee.fullName}}</td>
                <td>{{employee.idCard}}</td>
                <td>
                  <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"
                          (click)="chooseEmployee(employee.employeeId,employee.fullName)">Chọn
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item " [class]="(pageCurrentEmployee-1)<0 ? 'disabled' : ''">
              <button class="page-link" (click)="firstPageEmployee()">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>
            <li class="page-item" [class]="(pageCurrentEmployee-1)<0 ? 'disabled' : ''">
              <button class="page-link" tabindex="-1" (click)="prevPageEmployee()">&lsaquo;</button>
            </li>
            <li class="page-item">
              <button class="page-link" *ngIf="(pageCurrentEmployee-1)>=0"  (click)="prevPageEmployee()">{{pageCurrentEmployee}}</button>
            </li>
            <li class="page-item active" aria-current="page">
              <button class="page-link" >{{pageCurrentEmployee+1}}</button>
            </li>
            <li class="page-item">
              <button class="page-link" (click)="nextPageEmployee()" *ngIf="(pageCurrentEmployee+1)<totalPageEmployee">
                {{pageCurrentEmployee+2}}
              </button>
            </li>
            <li class="page-item" [class]="(pageCurrentEmployee+1)>=totalPageEmployee ? 'disabled' : ''">
              <button class="page-link"  (click)="nextPageEmployee()">&rsaquo;</button>
            </li>
            <li class="page-item" [class]="(pageCurrentEmployee+1)>=totalPageEmployee ? 'disabled' : ''">
              <button class="page-link" (click)="lastPageEmployee()">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
