<app-header></app-header>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <p class="text-center h4 text-dark">Oops! Trang bạn yêu cầu không tìm thấy!</p>
      <p class="text-center text-dark mb-0">Trang bạn đang tìm không có sẵn hoặc đã bị xóa hoặc thay đổi.</p>
      <h1 class="text-center text-primary" style="font-size: 10rem; font-weight: 500">404</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a routerLink="/home" class="btn btn-outline-primary">Trang chủ</a>
  </div>
</div>
<app-footer></app-footer>
